.pokemon-list-container {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 20px;
  box-sizing: border-box;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 0 0 auto; /* Evita que las tarjetas se estiren o encogan */
}

.pokemon-image img {
  width: 96px;
  height: 96px;
}

.pokemon-name, .pokemon-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination-buttons {
  text-align: center;
  margin: 20px 0;
}

.pagination-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

@media (max-width: 600px) {
  .pokemon-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .pokemon-card {
    width: 120px;
  }
}